$theme: "dark" !default;

// Color system
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999999 !default;
$gray-600: #7a8288 !default;
$gray-700: #52575c !default;
$gray-800: #3a3f44 !default;
$gray-900: #272b30 !default;
$gray-1000: #111111 !default;
$black: #000000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ee5f5b !default;
$orange: #fd7e14 !default;
$yellow: #f89406 !default;
$green: #62c462 !default;
$teal: #20c997 !default;
$cyan: #5bc0de !default;
$star-wars-yellow: rgb(255, 232, 31) !default;
$star-wars-gray: rgb(200, 200, 200) !default;

$primary: $star-wars-yellow !default;
$secondary: $star-wars-gray !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-200 !default;
$dark: $gray-900 !default;

$min-contrast-ratio: 1.95 !default;

// Body
$body-bg: $gray-100 !default;
$body-color: #333 !default;

// Cards
$card-border-color: rgba($white, 0.6) !default;
$card-cap-bg: darken($body-bg, 1%) !default;
$card-bg: lighten($body-bg, 5%) !default;
.card {
  box-shadow: 0 0 8px rgba($gray-900, 0.2);
}

@import "~bootstrap/scss/bootstrap";
